html {
    height: 100%;
}

body {
    height: 100%;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    margin: 0 auto;
    padding: 0 16px; 

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#map {
    width: 100px;
    height: 100px;
    position: relative;
    top: 24px;
    bottom: 0;

}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 8px;
    margin-bottom: 24px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header nav a {
    color: #888888;
    padding: 6px 8px;
    margin-right: 16px;
    text-decoration: none;
}

header nav a:hover {
    color:  #333333;
    background-color: #f0f0f0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/* add gradient color to button on hover */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8.5px;
    margin-left: 8px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(70, 131, 73);
}


input {
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 8px;
}



