* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    margin: 0 auto;
    padding: 0 16px; 

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
    top: 24px;
    bottom: 0;

}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 24px;
    margin-bottom: 24px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header nav a {
    color: #888888;
    padding: 6px 8px;
    margin-right: 16px;
    text-decoration: none;
}

header nav a:hover {
    color:  #333333;
    background-color: #f0f0f0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

form {
    /* distribute along the row */
    display: flex;
    flex-direction: row;
}

form p {
    font-size: 14px;
    margin: auto 4px;
    color: #888888;
    padding: 0 10px;
    text-anchor: middle;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8.5px;
    margin-left: 8px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
} 

/* Animate color on button hover */
button:hover {
    background-color: #333333;
    color: white;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

input {
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 8px;
}

.lds-ripple {
    margin-left: 12px;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
  }
  .lds-ripple div {
    position: absolute;
    border: 2.5px solid #4c7faf;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 14px;
      left: 14px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 14px;
      left: 14px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 14px;
      left: 14px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 28px;
      height: 28px;
      opacity: 0;
    }
  }
